body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 10;
    padding: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color:green;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: greenyellow;
  }
  
  
  